.container{
    margin: auto;
    min-width: 320px;
    max-width: 400px;   
    margin-top: 70px;
    text-align: center;
    height: 100%;
}

.inputTarefa{
    margin: auto;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
}


.btnTarefa{
    margin: auto;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(32, 139, 59);
    font-size: 15pt;
    color: white;
}

.btnTarefa:hover{
    cursor: pointer;
    background-color: rgb(3, 87, 3);
}

.ListaCSS{
    list-style: none;
    text-align: start;
    margin: 50px 0px;
}

.ListaCSS li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid thin grey;
    margin: 5px;
    color: white;
    font-size: 20px;
    padding: 5px;
    word-wrap:break-word;
}

.ListaCSS li input{
    margin-right: 10px;
}

.IconeRemove{
    font-size: 20px;
    text-align: center;
    
}

.IconeRemove:hover{
    cursor: pointer;
}